@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    background-color: v.$grisOscuro;

    .contenedor-footer {
        padding-top: calc(v.$separacion / 2);
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
}